.social-media-links-wrapper {
  margin: 68px auto 200px;
  width: 790px;
  display: flex;
  justify-content: space-between;
}

.social-media-link {
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  letter-spacing: -0.06em;
  color: #ffffff;
  text-decoration: none;
}

.social-media-link:hover {
    color: #FF25C2;
    transition: 0.3s;
}
